:host {
  display: block;
}

.container{
  display: flex;
  flex-direction: row;
}

.login-content{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--p-button-secondary-background);

}