<span class="config-panel-label">Primary</span>
<div class="config-panel-colors">
  <div>
    <button
      type="button"
      title="zinc"
      class="ng-star-inserted"
      style="background-color: var(--text-color)"
      (click)="changePrimaryColor($event)"
    ></button
    ><button
      type="button"
      title="emerald"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(16, 185, 129)"
    ></button
    ><button
      type="button"
      title="green"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(34, 197, 94)"
    ></button
    ><button
      type="button"
      title="lime"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(132, 204, 22)"
    ></button
    ><button
      type="button"
      title="orange"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(249, 115, 22)"
    ></button
    ><button
      type="button"
      title="amber"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(245, 158, 11)"
    ></button
    ><button
      type="button"
      title="yellow"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(234, 179, 8)"
    ></button
    ><button
      type="button"
      title="teal"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(20, 184, 166)"
    ></button
    ><button
      type="button"
      title="cyan"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(6, 182, 212)"
    ></button
    ><button
      type="button"
      title="sky"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(14, 165, 233)"
    ></button
    ><button
      type="button"
      title="blue"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(59, 130, 246)"
    ></button
    ><button
      type="button"
      title="indigo"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(99, 102, 241)"
    ></button
    ><button
      type="button"
      title="violet"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(139, 92, 246)"
    ></button
    ><button
      type="button"
      title="purple"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(168, 85, 247)"
    ></button
    ><button
      type="button"
      title="fuchsia"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(217, 70, 239)"
    ></button
    ><button
      type="button"
      title="pink"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(236, 72, 153)"
    ></button
    ><button
      type="button"
      title="rose"
      class="ng-star-inserted"
      (click)="changePrimaryColor($event)"
      style="background-color: rgb(244, 63, 94)"
    ></button>
  </div>
</div>
