:host {
  display: block;
}

.container{
  width: 110px;
  /* width: 110px;
  height: 100vh; */

}

.visible{
  width: 260px;
  height: 100vh;
  padding: 30px 10px 15px 125px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;

  background-color: var(--p-button-secondary-background);
  /* border: 1px solid black; */
  /* box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.08); */

  transition: width 0.3s ease, transform 0.1s ease;

}
h4{
  margin: 10px 0px;
}

