.container{
  margin: 0px 10px;
  display: flex;
  padding: 5px 5px;
  align-items: center;
  border-left: 4px solid transparent;
}

.container.active {
  color: var(--p-primary-color);
  border-left: 4px solid var(--p-primary-color);;
}

.container:not(.active) {
  border-left: 4px solid var(--p-surface-400);
}

a{
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color del elemento padre */
}